.moto-banner-bg-style {
  background-image: url("https://www.qorvo.com/innovation/customer-stories/-/media/images/qorvopublic/customer-stories/2021/production.gif");
  background-repeat: 'no-repeat';
  background-size: "cover";


}

.img-animation img {
  animation: test 25.5s linear infinite;
}

@keyframes test {
  100% {
    transform: rotate(360deg);
  }
}